@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Ubuntu:wght@400;700&display=swap');

:root {
    --branco: #f2f2f2;
    --azul-escuro: #212a64;
    --azul-claro: #119beb;
}

body {
    background-image: linear-gradient(aqua,#005eff,#042154);
    background-size: 100%;
    background-repeat: no-repeat;
}

/* Cabeçalho */

.cabecalho {
    font-family: 'Ubuntu', sans-serif;
    font-size: 12px;
    font-weight: 700;
    color: var(--azul-escuro);
    background-color: var(--branco);
}

.cabecalho__itens {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    gap: 5px;
    align-items: center;
    padding: 0 1em;
}

.cabecalho__menu__drop {
    border: none;
}

.cabecalho__menu__itens {
    display: none;
    position: absolute;
    background-color: var(--branco);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.cabecalho__menu__itens__drop {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 1em;
    font-size: 30px;
}

.cabecalho__menu__itens__drop a {
    text-decoration: none;
    color: var(--azul-escuro);
    text-decoration: underline;
}

.show {
    display: block;
}



.cabecalho__itens a:hover {
    color: var(--azul-claro);
}

.cabecalho__logo {
    width: 80px;
    height: 40px;
    margin-right: 1em;
}

/* Página principal */

.principal {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1em 5em;
}

.principal__imagem {
    display: none;
}

.principal__texto {
    font-family: 'Ubuntu', sans-serif;
    color: var(--branco);
    text-align: center;
    width: 700px;
}

.principal__texto__titulo {
    font-family: 'Dancing Script', sans-serif;
    font-size: 50px;
    font-weight: 700;
    color: var(--azul-escuro);
    margin-top: .5em;
}

.principal__texto__banner {
    margin-top: 1.5em;
}

.principal__texto__paragrafo {
    padding: 1em 0;
    font-weight: 400;
    font-size: 20px;
    width: 300px;
    text-align: center;
}

.principal__texto__redes {
    font-family: 'Dancing Script', sans-serif;
    font-size: 30px;
    font-weight: 700;
    text-decoration-line: underline;
    color: var(--azul-escuro);
    margin-bottom: 1em;
    margin-top: 1.5em;
}

.principal__botoes {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em;
    gap: 1em;
}

.principal__botoes a {
    text-decoration: none;
    color: var(--branco);
    display: flex;
    width: 200px;
    padding: .5em;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border: solid 1px var(--branco);
    border-radius: 10px;
    font-size: 14px;
}

.principal__botoes a:hover {
    color: var(--azul-escuro);
    border-color: var(--azul-escuro);
}

.principal__botoes-logo {
    align-self: center;
    border-radius: 5px;
    height: 32px;
}

.video {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80vh;
}

.video__titulo {
    font-family: 'Dancing Script', sans-serif;
    font-size: 30px;
    font-weight: 700;
    text-decoration-line: underline;
    color: var(--azul-escuro);
    margin-bottom: .2em;
    margin-top: 1.5em;
}

.video__embed {
    margin: 1em;
    width: 80%;
}

.rodape {
    background-color: var(--branco);
    display: flex;
    justify-content: center;
}

.rodape__logo {
    width: 20%;
}

@media (min-width: 1440px) {
    .principal__imagem {
        display: flex;
    }

    .principal__texto {
        font-family: 'Ubuntu', sans-serif;
        color: var(--branco);
        text-align: center;
        width: 700px;
    }

    .principal__texto__paragrafo {
        padding: 1em 2em ;
        font-weight: 400;
        font-size: 30px;
    }

    .principal__texto__redes {
        font-family: 'Dancing Script', sans-serif;
        font-size: 38px;
        font-weight: 700;
        text-decoration-line: underline;
        color: var(--azul-escuro);
        margin-bottom: 1.5em;
    }

    .principal__botoes a {
        text-decoration: none;
        color: var(--branco);
        display: flex;
        width: 200px;
        padding: 1em;
        align-items: center;
        justify-content: center;
        gap: 10px;
        border: solid 1px var(--branco);
        border-radius: 20px;
        font-size: 24px;
    }

    
}